@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,700&display=swap');
@import './responsive.css';
body{
    font-family: roboto;
    background-color: #F7F8FA;
    padding: 0px;
    margin: 0px;
}

.mega-button:hover{
background-color: #F59519;
color:white;
}

.mega-menu-container{
    height: 380px;
    overflow-y: auto;
    direction:rtl;
    overflow-x: hidden;
    scrollbar-width:inherit;
    scrollbar-color: #e9e9e9 #ffffff;
}

.section-title{
  font-weight: 700;
  color: #E43023;
  text-align: center;
}

.section-subtitle{
  font-weight: 400;
  text-align: center;
}

.card-title{
  text-align: center;
  font-weight: 600;
  line-height: 20px;
}

.card-price{
  font-weight: 400;
  color: #E43023;
  text-align: center;
}

.footer-text{
  font-weight: 400;
  line-height: 18px;
  
}

.footer-header{
  font-weight: 600;
  line-height: 24px;
}

.grow-up-image{
  overflow: hidden; 
}

.grow-up-image img:hover{
    transform: scale(1.07) !important;
    transition: .5s ease-in-out;
}

.slick-dots{
  top:85%;
}


.badge-color{
  background-color: #E43023;
  color: white;
}

.slick-arrow{
  display: none !important;
}

.notificatoin-grow-up:hover{
  transform: scale(1.04) !important;
  transition: .5s ease-in-out;
}

.mobile-show{display:none !important;}